<template>
     <div class="container">
        <header>
            <div class="header-logo">
                <img src="http://www.clker.com/cliparts/d/C/V/s/q/D/oktoberfest-beer-mug-md.png" width="50" height="60">
                <h1>BEER LIST</h1>
            </div>
            <button
                type="button"
                class="btn btn-outline-info show-list-btn"
                v-if="showFirstBeerList"
                @click.prevent="displayBeerList()"
            >
                Show Beer List
            </button>
        </header>
            <div
                class="no-item-text"
                v-if="beerList.length == 0"
            >
                <h4>No list items yet</h4>
            </div>
         <table
             class="table"
             v-if="beerList.length > 0"
         >
             <thead>
             <tr>
                 <th scope="col">ID</th>
                 <th scope="col">Name</th>
                 <th scope="col">Image</th>
                 <th scope="col">Description</th>
                 <th scope="col">Brewers type</th>
                 <th scope="col">Actions</th>
             </tr>
             </thead>
             <tbody>
                 <tr
                     v-for="beer in beerList"
                 >
                     <th scope="row"> {{ beer.id}}</th>
                     <td> {{ beer.name}}</td>
                     <td> <img :src='beer.image_url'> </td>
                     <td> {{ beer.description}}</td>
                     <td> {{ beer.brewers_tips}}</td>
                     <td
                         class="actions"
                     >
                         <button
                             data-toggle="modal"
                             data-target="#myModal"
                             @click.prevent="editBeer(beer.id)"
                         >
                             <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                 <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                 <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                             </svg>
                         </button>
                         <!-- Modal -->
                         <div
                             class="modal fade"
                             id="myModal"
                             role="dialog"
                         >
                             <div class="modal-dialog">

                                 <!-- Modal content-->
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h2>Edit Beer</h2>
                                         <button
                                             type="button"
                                             class="close"
                                             data-dismiss="modal"
                                         >
                                             &times;
                                         </button>
                                     </div>
                                     <div class="modal-body">
                                         <span>Name</span>
                                         <input
                                             class="form-control"
                                             type="text" name="name"
                                             v-model="beerName"
                                         >
                                         <span>Description</span>
                                         <input
                                             class="form-control"
                                             type="text"
                                             name="description"
                                             v-model="beerDescription"
                                         >
                                     </div>
                                     <div class="modal-footer">
                                         <button
                                             type="button"
                                             class="btn btn-default"
                                             data-dismiss="modal"
                                         >
                                             Close
                                         </button>
                                         <button
                                             type="submit"
                                             class="btn btn-default"
                                             data-dismiss="modal"
                                             @click.prevent="saveChanges(beer.id)"
                                         >
                                             Submit
                                         </button>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <button
                             type="button"
                             @click.prevent="deleteBeer(beer.id)"
                         >
                             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                 <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                 <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                             </svg>
                         </button>
                     </td>
                 </tr>
             </tbody>
         </table>
         <div class="show-next-page">
             <button
                 type="button"
                 class="btn btn-outline-info show-next-list-btn"
                 v-if="showNextPageButton"
                 @click.prevent="nextPage()"
             >
                 <div v-if="showButtonText">Show Next</div>
                 <div v-if="loading" class="loader"></div>
             </button>
         </div>
     </div>
</template>

<script>
export default {
    data(){
        return {
            beerList: [],
            nexPageBeerList: [],
            pageNumber: 1,
            nextPageNum: '',
            showNextPageButton: false,
            showFirstBeerList: true,
            errors: '',
            beerName: '',
            beerDescription: '',
            beerToEdit: '',
            beerToDelete: '',
            loading: false,
            showButtonText: true
        }
    },
    methods: {
        displayBeerList(){
            axios.get('https://api.punkapi.com/v2/beers?page=' + this.pageNumber + '&limit=25')
                .then((response)=>{
                    this.beerList = response.data
                    this.showNextPageButton = true
                    this.showFirstBeerList = false
                })
                .catch((error)=>{
                    this.errors = error.message
                })

        },
        nextPage(){
            this.pageNumber += 1;
            this.loading = true
            this.showButtonText = false
            axios.get('https://api.punkapi.com/v2/beers?page=' + this.pageNumber + '&limit=25')
                .then((response)=>{
                    this.nexPageBeerList = response.data
                    this.beerList = this.beerList.concat(this.nexPageBeerList)

                    if(this.nexPageBeerList.length <1){
                        this.showNextPageButton = false
                    }
                })
                .catch((error)=>{
                    this.errors = error.message
                })
                .finally(() => (this.loading = false, this.showButtonText = true))
        },
        editBeer(id){
            this.modalShow = true
            this.beerToEdit = this.beerList.filter(beer => beer.id === id)
            this.beerName = this.beerToEdit[0].name
            this.beerDescription = this.beerToEdit[0].description
        },
        saveChanges(){
            this.beerToEdit[0].name = this.beerName
            this.beerToEdit[0].description = this.beerDescription
        },
        deleteBeer(id){
            this.beerToDelete = this.beerList.filter(function( beer ) {
                return beer.id !== id;
            });
            this.beerList = this.beerToDelete
        }
    },
}
</script>

<style>
    .container{
        margin-top: 20px;
        margin-bottom: 40px;
        box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
        min-height: 600px;
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: 700;
        border-bottom: 1px solid grey;
        padding: 30px 0px;
    }
    .header-logo{
        width: 270px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    h2{
        display: flex;
        justify-content: center;
        margin: 20px 0px;
    }
    .show-list-btn{
        margin: 30px 0px;
    }
    .no-item-text{
        text-align: center;
        margin-top: 60px;
        font-family: "Times New Roman", Times, serif;
        font-weight: 700;
    }
    table{
        font-family: "Times New Roman", Times, serif;
    }
    .actions{
        display: flex;
        justify-content: center;
    }
    tbody img{
        height: 230px;
        width: 70px;
    }
    tbody button{
        background-color: white;
    }
    .form-control{
        margin: 10px 0px;
    }
    .show-next-page{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .show-next-list-btn{
        width: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    }
    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #17a2b8;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

</style>
